body{
	background-color:#000000;
	color:#ffffff;
	}
.clear {clear:both;}
a {color: #486e8a;}
.navbar{margin-bottom:0;}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.btn-primary{
    background-color: #486e8a;
    border-color: #cccccc;
}


.footer_inner{
	text-align:center;
	font-size: 9px;
	color: #666666;
	padding-top:0px; 
}

.xerox_navbar {background-color:black;padding-bottom:10px;}
.btn-group > .btn + .dropdown-toggle{padding: 13px 8px;}
.dropdown_user {padding-top:10px;}

.xerox_navbar a {color:#ffffff;}
.xerox_navbar .nav > li > a:hover, .xerox_navbar .nav > li > .nav > li > a:focus {background-color:#486e8a;}

.menu_left{
	/*background-color:#cccccc;*/
	text-align:center;
	margin-right:15px;
}
.menu_ul button{background:transparent;border:none;}
.xrx_content{
	background-color:#cccccc;
	border:1px solid #cccccc;
	height:600px;
	overflow-y: scroll;
	padding-top:15px;
	padding-bottom:15px;
	color:#000000;
}
#xrx_page {padding-top:30px;
	/*background-color:#ffffff;*/
}
/*.bs-docs-footer {background-color:#ffffff;}*/

.menu_ul {padding: 15px 0 ;}
.menu_ul p {font-size:12px; text-transform:uppercase;}
.menu_ul li{list-style-type:none;margin-bottom:15px;}
.menu_ul .dropdown-menu {
	left: 100px;
	top: auto;
}
li.hlight {background-color:#ccc;}
.form-group {clear:both;}
.form-group label {margin-bottom:30px;}
.label_margin {margin-right:15px;}
.btn-default{background-color:#4764a5;color:#ffffff;}

.remove_input {background-color:#4764a5;color:#ffffff;padding: 2px 10px;line-height: normal;border: 1px solid #ccc;}
#province  {text-transform:uppercase;}
.space_bottom{margin-bottom:15px;}
.select_status{display:none;}
.text-info{font-size:11px;}
.space{background-color: #ccc;height: 35px;padding: 5px 0;}