body{
	/*background-color:#000000;*/
	color:#ffffff;
	background-image:url('../images/bg-page.jpg');
	background-repeat: repeat;
	}
.clear {clear:both;}
.margin_auto {margin:0 auto;}
a {color: #486e8a;}
.navbar{margin-bottom:0;}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.btn-primary{
    background-color: #486e8a;
    border-color: #cccccc;
}

.float_l{float:left;}
.float_r{float:right;}

.xerox_navbar {background-color:black;padding-bottom:10px;}
.btn-group > .btn + .dropdown-toggle{padding: 13px 8px;}
.dropdown_user {padding-top:10px;}

.dropdown_user button {background-color:#cccccc;color:#494949;font-weight:bold;font-size:14px;}

.xerox_navbar a {color:#ffffff;}
.xerox_navbar .nav > li > a:hover, .xerox_navbar .nav > li > .nav > li > a:focus {background-color:#486e8a;}

.menu_left{
	/*background-color:#cccccc;*/
	text-align:center;
	margin-right:15px;
}
.menu_ul button{background:transparent;border:none;color:#494949;font-weight:bold;}
.xrx_content{
	background-color:#cccccc;
	border:1px solid #cccccc;
	height:900px;
	overflow-y: scroll;
	padding-top:15px;
	padding-bottom:15px;
	color:#000000;
}
#xrx_page {padding-top:30px;
	/*background-color:#ffffff;*/
}
/*.bs-docs-footer {background-color:#ffffff;}*/

.menu_ul {padding: 15px 0 ;}
.menu_ul p {font-size:12px; text-transform:uppercase;}
.menu_ul li{list-style-type:none;margin-bottom:15px;}
.menu_ul .dropdown-menu {
	left: 100px;
	top: auto;
}
li.hlight {background-color:#ccc;}
.form-group {clear:both;}
.form-group label {margin-bottom:30px;}
.label_margin {margin-right:15px;}
.btn-default{background-color:#4764a5;color:#ffffff;}

.remove_input {background-color:#4764a5;color:#ffffff;padding: 2px 10px;line-height: normal;border: 1px solid #ccc;}
#province  {text-transform:uppercase;}
.space_bottom{margin-bottom:15px;}

.text-info{font-size:12px;color:#486e8a;}
#dashboard .text-info{font-style:italic;display: inline-table;}
.space{background-color: #ccc;height: 35px;padding: 5px 0;}

.modal-dialog{
	color:#000000;
}

 /*.ui-timepicker-table .periods {display:none;}*/
 
 #calendar_page {margin-top:30px;margin-bottom:50px;}
 .calendar {width:100%;}
 #calendar_page .calendar  td {border:1px solid red;}
 .calendar_left , .calendar_center{float:left;}
 .calendar_right {float:right;}
 .calendar_center {width:85%; text-align:center;}
 
 body{
	/*background-color:#000000;*/
	color:#ffffff;
	background-image:url('../images/bg-page.jpg');
	background-repeat: repeat;
	}
.clear {clear:both;}
.margin_auto {margin:0 auto;}
a {color: #486e8a;}
.navbar{margin-bottom:0;}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.btn-primary{
    background-color: #486e8a;
    border-color: #cccccc;
}


.footer_inner{
	text-align:center;
	font-size: 11px;
	color: #666666;
	padding-top:0px; 	
}

.xerox_navbar {background-color:black;padding-bottom:10px;}
.btn-group > .btn + .dropdown-toggle{padding: 13px 8px;}
.dropdown_user {padding-top:10px;}

.dropdown_user button {background-color:#cccccc;color:#494949;font-weight:bold;font-size:14px;}

.xerox_navbar a {color:#ffffff;}
.xerox_navbar .nav > li > a:hover, .xerox_navbar .nav > li > .nav > li > a:focus {background-color:#486e8a;}

.menu_left{
	/*background-color:#cccccc;*/
	text-align:center;
	margin-right:15px;
}
.menu_ul button{background:transparent;border:none;color:#494949;font-weight:bold;}
.xrx_content{
	background-color:#cccccc;
	border:1px solid #cccccc;
	height:900px;
	overflow-y: scroll;
	padding-top:15px;
	padding-bottom:15px;
	color:#000000;
}
#xrx_page {padding-top:30px;
	/*background-color:#ffffff;*/
}
/*.bs-docs-footer {background-color:#ffffff;}*/

.menu_ul {padding: 15px 0 ;}
.menu_ul p {font-size:12px; text-transform:uppercase;}
.menu_ul li{list-style-type:none;margin-bottom:15px;}
.menu_ul .dropdown-menu {
	left: 100px;
	top: auto;
}
li.hlight {background-color:#ccc;}
.form-group {clear:both;}
.form-group label {margin-bottom:30px;}
.label_margin {margin-right:15px;}
.btn-default{background-color:#4764a5;color:#ffffff;}

.remove_input {background-color:#4764a5;color:#ffffff;padding: 2px 10px;line-height: normal;border: 1px solid #ccc;}
#province  {text-transform:uppercase;}
.space_bottom{margin-bottom:15px;}

.text-info{font-size:12px;color:#486e8a;}
#dashboard .text-info{font-style:italic;display: inline-table;}
.space{background-color: #ccc;height: 35px;padding: 5px 0;}

.modal-dialog{
	color:#000000;
}

 /*.ui-timepicker-table .periods {display:none;}*/
 
 #calendar_page {margin-top:30px;margin-bottom:50px;}
 .calendar {width:100%;}
 #calendar_page .calendar  td {border:1px solid red;}
 .calendar_left , .calendar_center{float:left;}
 .calendar_right {float:right;}
 .calendar_center {width:85%; text-align:center;}
 
 #hours_result{color:#3c763d;}
 
 footer{
	 background: #dddddd;
	 padding: 20px 0;
 }
 
 .btn_group {
	 margin-bottom: 20px;
 }
 
 .dash_top {margin-bottom:20px;}
 
 .select_style {
	height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
 }
 .select_status {display:none;}