:focus{
	outline-color:black !important;
}

.buttonHeader{
	width: 5%;
}

.indentLeft{
	padding-left:10px;
}

.sub-menu{
	font-size:16px !important; 
	margin-left: 0px !important; 
	margin-bottom: 25px !important;
}

.sub-menu a:hover, .sub-menu a:focus{
	border:none !important;
}

h1{
	font-family: 'Roboto Condensed', 'Arial', sans-serif; 
	font-size: 36px; 
	line-height: 42px; 
	margin-bottom: 20px; 
	font-weight: 300;
}
h2{
	font-family: 'Roboto Condensed', 'Arial', sans-serif; 
	font-size: 28px; 
	line-height: 34px; 
	margin-bottom: 20px; 
	font-weight: 300;
}

.label_margin [type="checkbox"]{ 
	background-color:#333333;
}

.vertical_line{
	border-left: 1px solid black;
}

#menu{
	margin-left:5%;
	font-family: 'Roboto Condensed', 'Arial', sans-serif; 
	font-weight: 300;
	font-size: 22px; 
	line-height: 28px;
}

#menu a:hover, #menu a:focus{
	border-bottom:5px solid #D92231;
	text-decoration:none;
	outline:none;
}
#menu a{
	padding-bottom:18px;
	margin-right:10px;
	margin-left:10px;
}
#menu > :first-child{margin-left:0px !important;}
#menu > :last-child{margin-right:0px !important;}



body{
	/*background-color:#000000;*/
	font-family: "Roboto", 'Arial', sans-serif ;
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color:#333333;
	}
.clear {clear:both;}
.margin_auto {margin:0 auto;}
a {color: #333333;}
a:hover, a:focus {color:#D92231; outline-color:black;}
.navbar{margin-bottom:0;}
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.btn-default, .btn-primary, input[type=button]{
    height: 31px;
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 16px; 
	color:#FFFFFF;
	text-align:center;
	background-color:#D92231;
	line-height: 22px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 1px;
	border-radius:0px;
	border-color:#D92231;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-primary:active, .btn-primary:hover, .btn-primary:focus, 
input[type=button]:active, input[type=button]:hover, input[type=button]:focus, button:active, button:hover, button:focus{
	color:#D92231;
	background-color:#FFFFFF;
	border-width: 1px;
	border-style:solid;
	border-color:#333333;
	border-radius:0px;
	outline:none;
}

.container{
	width:100%;
	padding-right: 0px;
	padding-left:0px;
}

.float_l{float:left;}
.float_r{float:right;}

.btn-group > .btn + .dropdown-toggle{padding: 13px 8px;}
.dropdown_user {padding-top:10px;}

.dropdown_user button {background-color:#cccccc;color:#494949;font-weight:bold;font-size:14px;}

.xerox_navbar {
	padding-bottom:10px;
	margin-right: 5%;
	margin-left:5%;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color:initial;
	text-decoration:underline;
}
.nav>li>a {
	padding:0;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
}


.menu_left{
	/*background-color:#cccccc;*/
	text-align:center;
	margin-right:15px;
}

.menu_ul button{background:transparent;border:none;color:#494949;font-weight:bold;}
.xrx_content{
	margin: 0px auto;
	width:90%;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:0px;
	padding-right:0px;
	color:#000000;
	float:none;
	
}
#xrx_page {padding-top:30px;
	/*background-color:#ffffff;*/
}
/*.bs-docs-footer {background-color:#ffffff;}*/

.menu_ul {padding: 15px 0 ;}
.menu_ul p {font-size:12px; text-transform:uppercase;}
.menu_ul li{list-style-type:none;margin-bottom:15px;}
.menu_ul .dropdown-menu {
	left: 100px;
	top: auto;
}
li.hlight {background-color:#ccc;}
.form-group {clear:both;}
.form-group label {margin-bottom:30px;}
.label_margin {margin-right:15px;}

.label_margin label{
	display:inline;
}

.label_margin input[type="checkbox"], .label_margin input[type="radio"]{
	display:none;
}

input[type="checkbox"] + label:after {
	background-color: #fafafa;
	border: 1px solid #C1C1C1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  	display: inline-block;
  	transition-duration: 0.3s;
  	width: 15px;
  	height: 15px;
  	content: '';
  	margin-left: 10px;
}

input[type="checkbox"]:checked + label:after{
	background-color: #D92231;
}

input[type="radio"] + label:after {
	background-color: #fafafa;
	border: 1px solid #C1C1C1;
	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  	display: inline-block;
  	transition-duration: 0.3s;
  	width: 15px;
  	height: 15px;
  	content: '';
  	margin-left: 10px;
}

input[type="radio"]:checked + label:after{
	border: 4px solid #D92231;
}

.xrx_arrow_link_right:after
{
	content: "\0000a0\276F";
	font-family: "Arial";
	font-size: 90%;
	margin-left: 5px;
	color: #FFFFFF;
}
.xrx_arrow_link_right:hover:after
{
	color: #D92231;
}
.plus_title{
	height:31px;
	line-height:31px;
}

.remove_input {
	background-color:#D92231 !important;
	color:#ffffff !important;
	padding: 2px 10px;
	line-height: normal;
	border: 1px solid #D92231 !important;
	font-size: 22px !important;
}
.remove_input:hover {
	background-color:#ffffff !important;
	color:#D92231 !important;
	padding: 2px 10px;
	line-height: normal;
	border: 1px solid #D92231 !important;
}

.sqrButton{
	width:32px !important;
	height:32px !important;
	padding:0 !important;
	line-height:40px !important;
}

.leftButton{
	float:left;
	margin-left:15px;
	margin-right:15px;
}

.glyphicon:before{
	
}

.panel-heading .remove_input {
	margin-right: 2.45% !important;
}

.panel-title{
	overflow:hidden;
}

.vAlign{
	line-height: 3em;
}

#province  {text-transform:uppercase;}
.space_bottom{margin-bottom:15px;}

.text-info{font-size:12px;color:#333333;}
#dashboard .text-info{font-style:italic;display: inline-table;}
.space{background-color: #ccc;height: 35px;padding: 5px 0;}

.modal-dialog{
	color:#000000;
}

 /*.ui-timepicker-table .periods {display:none;}*/
 
 #calendar_page {margin-top:30px;margin-bottom:50px;}
 .calendar {width:100%;}
 #calendar_page .calendar  td {border:1px solid red;}
 .calendar_left , .calendar_center{float:left;}
 .calendar_right {float:right;}
 .calendar_center {width:85%; text-align:center;}


.footer_inner{
	text-align:left;
	font-size: 11px;
	color: #666666;
	padding-top:0px; 	
}


.btn-group > .btn + .dropdown-toggle{padding: 13px 8px;}
.dropdown_user {padding-top:10px;}
 
 #hours_result{color:#3c763d;}
 
 footer{
	 background: #dddddd;
	 padding: 20px 0;
	 padding-left: 5%;
 }
 
 .btn_group {
	 margin-bottom: 20px;
 }
 
 .dash_top {margin-bottom:20px;}
 
 .select_style {
	height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
 }
 .select_status {display:none;}
