/* Custom PHP Grid */
.ui-jqgrid {position: relative; font-size:12px; font-family:"tahoma","verdana","sans serif";}
.ui-jqgrid body, .ui-widget, .ui-widget input, .ui-widget select, 
.ui-widget textarea, .ui-widget button { font-family:"tahoma","verdana","sans serif"; font-size:12px;}
.ui-custom-icon { display: block; float: left; height: 14px; margin: 1px 5px; width: 14px; }
.ui-jqdialog .ui-jqdialog-titlebar { padding: 0.3em 0.5em; }
.ui-jqgrid .ui-icon-desc { margin-top: 5px; }

/* Inputs */
.ui-jqgrid input, .ui-jqgrid textarea {font-size:12px; font-family:"tahoma","verdana","sans serif";}
.ui-jqgrid .editable {margin-bottom: 2px; padding:2px 4px; font-family:"tahoma","verdana","sans serif"; }
.ui-jqgrid .editable input {text-indent: 4px;}
.ui-jqgrid td.edit-cell input, .ui-jqgrid td.edit-cell select .ui-jqgrid td.edit-cell textarea { width: 92%; }
			
/* footer */
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div, 
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div { padding:1px 0;float:left;position:relative;line-height: 15px; padding-right: 4px; text-align:center; }
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon { margin-right: -1px; } /* fixed hover border on icon with text */

.ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-jqgrid-toppager
{
	height: 38px !important;
	font-size: inherit;
}
.ui-jqgrid .ui-pager-control { padding: 0px 5px; height:40px; }
.ui-jqgrid .ui-pg-table
{
	height: 24px;
	padding-top: 1px;
}
.ui-jqgrid .ui-pg-input { border-width:1px; text-indent:2px; font-size: 1em; }
.ui-jqgrid .ui-pg-selbox { font-size: 1em; }

/* col-header + autofilter search */
.ui-jqgrid .ui-jqgrid-htable th { height: 28px; }
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column-header { line-height: 28px; }
.ui-jqgrid .ui-jqgrid-htable th div {height:auto;}

/* fix for frozen header 
.frozen-div .ui-jqgrid-htable th { height: 27px; }
.frozen-div .ui-jqgrid-htable th.ui-th-column-header { line-height: 27px; }
.frozen-div .ui-jqgrid-htable th div {height:auto;}
.ui-jqgrid .frozen-bdiv tr.jqgrow td { height: 27px !important; }
*/
.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column { vertical-align: middle; }
.ui-state-default.ui-th-column.ui-th-ltr .ui-search-table { padding-top: 3px; }
.ui-jqgrid tr.ui-search-toolbar th.ui-th-column {vertical-align:middle; /* border-top-style: solid !important; */ } /* fix for ie */

tr.ui-search-toolbar { height: 26px; border-color:#dbdbdb; }
tr.ui-search-toolbar input { height: 18px; border-width:1px; text-indent:2px; }
tr.ui-search-toolbar input { margin: 1px 0 0 0;}
tr.ui-search-toolbar select { margin: 1px 0 0 0}

/* header, grid row */
.ui-jqgrid .ui-jqgrid-title img { float: left; padding: 7px 8px 7px 0px; height:26px; }
.ui-jqgrid .ui-jqgrid-title { line-height: 40px; }
.ui-jqgrid .ui-jqgrid-titlebar { padding: 0px 0px 0px 14px; font-size: 14px; font-weight: normal; }
.ui-jqgrid .ui-jqgrid-titlebar-close { margin-right: 5px; }
.ui-jqgrid tr.jqgrow td { height: 19px; line-height: inherit; vertical-align:top; padding: 6px 10px 3px 5px; }
.ui-jqgrid tr.jqgroup td { padding-top: 5px; }

/* required for theme which dont show autocomplete */
.ui-autocomplete {z-index:999;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
	tr.ui-search-toolbar input {height: 18px; margin: 2px 0 0 0;}
	tr.ui-search-toolbar select {height: 19px; margin: 2px 0 0 0}
}

@-moz-document url-prefix() {  
	tr.ui-search-toolbar { border-color:inherit; }
	tr.ui-search-toolbar input {height: 18px; margin: 1px 0 0 0;}
	tr.ui-search-toolbar select {height: 19px; margin: 1px 0 0 0}
}

.EditTable td textarea {padding: 0.3em;}
.ui-th-column-header {text-align:center;}
.ui-jqgrid .ui-search-input {width:98%;}

/* form layout padding */
.ui-jqdialog-content .CaptionTD 
{
    padding: 5px 5px 2px 2px;
    text-align: right;
    vertical-align: top;
}
.ui-jqdialog-content .DelTable, .ui-jqdialog-content .EditTable
{
	padding: 7px 0px 0px 0px;
}
/* shadow of dialog */
.ui-jqdialog
{
	-webkit-box-shadow: 0px 0px 5px 1px rgba(193,193,193,1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(193,193,193,1);
	box-shadow: 0px 0px 5px 2px rgba(193,193,193,1);
}

.ui-widget-overlay{background:#000; opacity:.5 !important;filter:Alpha(Opacity=50) !important;}

/* form error box */
td.ui-state-error { padding: 5px; }

/*! jQuery Timepicker Addon - v1.4.4 - 2014-03-29
* http://trentrichardson.com/examples/timepicker
* Copyright (c) 2014 Trent Richardson; Licensed MIT */

.ui-timepicker-div .ui-widget-header{margin-bottom:8px}.ui-timepicker-div dl{text-align:left}.ui-timepicker-div dl dt{float:left;clear:left;padding:0 0 0 5px}.ui-timepicker-div dl dd{margin:0 10px 10px 40%}.ui-timepicker-div td{font-size:90%}.ui-tpicker-grid-label{background:0;border:0;margin:0;padding:0}.ui-timepicker-rtl{direction:rtl}.ui-timepicker-rtl dl{text-align:right;padding:0 5px 0 0}.ui-timepicker-rtl dl dt{float:right;clear:right}.ui-timepicker-rtl dl dd{margin:0 40% 10px 10px}

.ui-widget-overlay {
    background-position: 50% 150%;
}

/* required for add/edit dialog overlapping with fancybox */
.fancybox-overlay {
	z-index:940;
}

/* keep horizonral scrollbar - even if no record */
table.ui-jqgrid-btable { height: 1px; }

/* Tree grid fix */
.ui-jqgrid tr.ui-row-ltr td span.cell-wrapper
{
	line-height: 16px;
}

/* flat border style */
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr,
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl,
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl,
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-br
{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


/* auto move pager boxes on new line */
/*
@media only screen and (max-width:767px) and (-webkit-min-device-pixel-ratio:0) {
	.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#list1_pager_center>.ui-pg-table {
		width:300px;
	}
}
@media only screen and (max-width:767px) {
	.ui-jqgrid .ui-jqgrid-pager {
		height:80px !important;
	}
	.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control {
		height:80px;
		padding-top:9px;
	}
	.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td {
		vertical-align:top;
	}
	.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#list1_pager_center {
		width:0!important;
		position:static;
	}
	.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#list1_pager_center>.ui-pg-table {
		margin:30px auto 0;
		position:absolute;
		right:0;
		left:0;
		text-align: center;
	}
}
*/

/* auto move each box on new lines */
@media only screen and (max-width:767px) and (-webkit-min-device-pixel-ratio:0) {
	.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#list1_pager_center>.ui-pg-table {
		width:300px;
	}
}
@media only screen and (max-width:767px) {
	.ui-jqgrid .ui-jqgrid-pager,.ui-jqgrid .ui-jqgrid-toppager {
		height:100px !important;
	}
	.ui-jqgrid .ui-pager-control {
		height:100px;
		padding-top:9px;
	}
	.ui-jqgrid .ui-pager-control>.ui-pg-table>tbody>tr>td {
		vertical-align:top;
		width:100% !important;
		display:block;
	}
	.ui-jqgrid .ui-paging-info {
		text-align: center !important;
	}
	.ui-pg-table.navtable {
		float: none !important;
		margin: auto;	
	}
	
	.ui-jqgrid .ui-pg-table
	{
		float:none !important;
	}
}

/* adjust select2 to fit in grid row */
.select2-container .select2-choice 
{ 
	height: 22px !important; 
	line-height: 20px !important; 
	background-image:none !important; 
	font-weight: normal !important; 
	text-align:left !important; 
} 

.ui-search-input .select2-container .select2-choice 
{
	height: 18px !important;
}
			
.select2-container .select2-choice .select2-arrow b
{
	background-position: 0 -2px !important;
}
.select2-dropdown-open .select2-choice
{
	background-color: white !important;
}
.select2-container-multi .select2-choices
{
	white-space: normal !important;
}
.select2-drop
{
	margin-top: -3px !important;
}

/* big toolbar icons */
.ui-icon, .ui-custom-icon { zoom: 125%; -moz-transform: scale(1.25); -webkit-zoom: 1.25; -ms-zoom: 1.25; }
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon { margin: 0px 2px; }
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div { line-height: 16px; }
.ui-jqgrid .ui-pg-button:hover{ border:0px none; padding:1px; } /* no icon border on hover */

.fullscreen{
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
 }